<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edusync</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
  <px>
    <h1>edusync </h1>
    <img src="favicon.ico" alt="">
    <ul>
      <li> All Done! Sync job is running.</li>
      <li> Run the below command to stop syncing</li>
      <li><code>$ docker stop edusync</code></li>
      <li> You can sync another file or close this page now</li>
      <a href="app">Sync another?</a>

    </ul>
  </px>

</body>
</html>
