<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>edusync</title>
  <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
  <px>
    <h1>edusync </h1>
    <img src="favicon.ico" alt="">

    <ol>
      <li>Connect to your NextCloud</li>
      <li>Download files from a public URL
        <div class="tooltip">
          ?
          <span class="tooltiptext"> e.g.
            <a href="https://github.com/karlstroetmann/Algorithms/raw/master/Lecture-Notes/algorithms.pdf">
              this
            </a>
            link
          </span>
        </div>
      </li>

      <li>edusync updates the file in your NextCloud every x minutes</li>
    </ol>
    <a href="app">Let's do it!</a>
  </px>

</body>

</html>
