<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>

<body>

  <form th:action="@{/submit-nextcloud-login}" th:object="${nextcloudAccount}" method="post">
    <div class="form-row">
      <div class="col-md-6 form-group">
        <label>Nextcloud Server URL</label>
        <input type="text" class="form-control" th:field="*{url}">
      </div>
      <div class="col-md-6 form-group">
        <label>Username</label>
        <input type="text" class="form-control" th:field="*{username}">
      </div>
      <div class="col-md-6 form-group">
        <label>Password</label>
        <input type="text" class="form-control" th:field="*{password}">
      </div>
      <div class="col-md-6 form-group">
        <input type="submit">
      </div>
    </div>

  </form>



</body>

</html>
